<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.rosettanet.storage.dao.MetaDataColumnMapper">
  <resultMap id="BaseResultMap" type="com.platon.rosettanet.storage.dao.entity.MetaDataColumn">
    <id column="meta_data_id" jdbcType="VARCHAR" property="metaDataId" />
    <id column="column_idx" jdbcType="INTEGER" property="columnIdx" />
    <result column="column_name" jdbcType="VARCHAR" property="columnName" />
    <result column="column_type" jdbcType="VARCHAR" property="columnType" />
    <result column="column_size" jdbcType="INTEGER" property="columnSize" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="published" jdbcType="BIT" property="published" />
  </resultMap>
  <sql id="Base_Column_List">
    meta_data_id, column_idx, column_name, column_type, column_size, remarks, published
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from meta_data_column
    where meta_data_id = #{metaDataId,jdbcType=VARCHAR}
      and column_idx = #{columnIdx,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from meta_data_column
    where meta_data_id = #{metaDataId,jdbcType=VARCHAR}
      and column_idx = #{columnIdx,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.platon.rosettanet.storage.dao.entity.MetaDataColumn">
    insert into meta_data_column (meta_data_id, column_idx, `column_name`,
      column_type, `column_size`, remarks, published
      )
    values (#{metaDataId,jdbcType=VARCHAR}, #{columnIdx,jdbcType=INTEGER}, #{columnName,jdbcType=VARCHAR}, 
      #{columnType,jdbcType=VARCHAR}, #{columnSize,jdbcType=INTEGER}, #{remarks,jdbcType=VARCHAR}, #{published,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.platon.rosettanet.storage.dao.entity.MetaDataColumn">
    insert into meta_data_column
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="metaDataId != null">
        meta_data_id,
      </if>
      <if test="columnIdx != null">
        column_idx,
      </if>
      <if test="columnName != null">
        column_name,
      </if>
      <if test="columnType != null">
        column_type,
      </if>
      <if test="columnSize != null">
        column_size,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="published != null">
        published,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="metaDataId != null">
        #{metaDataId,jdbcType=VARCHAR},
      </if>
      <if test="columnIdx != null">
        #{columnIdx,jdbcType=INTEGER},
      </if>
      <if test="columnName != null">
        #{columnName,jdbcType=VARCHAR},
      </if>
      <if test="columnType != null">
        #{columnType,jdbcType=VARCHAR},
      </if>
      <if test="columnSize != null">
        #{columnSize,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="published != null">
        #{published,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.platon.rosettanet.storage.dao.entity.MetaDataColumn">
    update meta_data_column
    <set>
      <if test="columnName != null">
        column_name = #{columnName,jdbcType=VARCHAR},
      </if>
      <if test="columnType != null">
        column_type = #{columnType,jdbcType=VARCHAR},
      </if>
      <if test="columnSize != null">
        column_size = #{columnSize,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="published != null">
        published = #{published,jdbcType=BIT},
      </if>
    </set>
    where meta_data_id = #{metaDataId,jdbcType=VARCHAR}
      and column_idx = #{columnIdx,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.platon.rosettanet.storage.dao.entity.MetaDataColumn">
    update meta_data_column
    set column_name = #{columnName,jdbcType=VARCHAR},
      column_type = #{columnType,jdbcType=VARCHAR},
      column_size = #{columnSize,jdbcType=INTEGER},
      remarks = #{remarks,jdbcType=VARCHAR},
      published = #{published,jdbcType=BIT}
    where meta_data_id = #{metaDataId,jdbcType=VARCHAR}
      and column_idx = #{columnIdx,jdbcType=INTEGER}
  </update>


  <select id="listMetaDataColumn" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from meta_data_column
    where meta_data_id = #{metaDataId,jdbcType=VARCHAR}
    order by column_idx
  </select>


  <insert id="insertBatch">
    insert into meta_data_column (meta_data_id, column_idx, column_name,
    column_type, column_size, remarks, published
    )
    values
    <foreach collection ="list" item="metaDataColumn" separator =",">
           (#{metaDataColumn.metaDataId,jdbcType=VARCHAR}, #{metaDataColumn.columnIdx,jdbcType=INTEGER}, #{metaDataColumn.columnName,jdbcType=VARCHAR},
    #{metaDataColumn.columnType,jdbcType=VARCHAR}, #{metaDataColumn.columnSize,jdbcType=INTEGER}, #{metaDataColumn.remarks,jdbcType=VARCHAR}, #{metaDataColumn.published,jdbcType=BIT}
    )
    </foreach>
  </insert>


  <delete id="deleteByMetaDataId" parameterType="java.lang.String">
    delete from meta_data_column
    where meta_data_id = #{metaDataId,jdbcType=VARCHAR}
  </delete>
</mapper>