<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.metis.storage.dao.MetaDataAuthMapper">
    <resultMap id="BaseResultMap" type="com.platon.metis.storage.dao.entity.MetaDataAuth">
        <!--@mbg.generated-->
        <!--@Table meta_data_auth-->
        <id column="meta_data_auth_id" jdbcType="VARCHAR" property="metaDataAuthId"/>
        <result column="user" jdbcType="VARCHAR" property="user"/>
        <result column="data_id" jdbcType="VARCHAR" property="dataId"/>
        <result column="data_status" jdbcType="TINYINT" property="dataStatus"/>
        <result column="user_type" jdbcType="TINYINT" property="userType"/>
        <result column="identity_id" jdbcType="VARCHAR" property="identityId"/>
        <result column="meta_data_id" jdbcType="VARCHAR" property="metaDataId"/>
        <result column="usage_type" jdbcType="TINYINT" property="usageType"/>
        <result column="start_at" jdbcType="TIMESTAMP" property="startAt"/>
        <result column="end_at" jdbcType="TIMESTAMP" property="endAt"/>
        <result column="times" jdbcType="INTEGER" property="times"/>
        <result column="audit_option" jdbcType="TINYINT" property="auditOption"/>
        <result column="audit_suggestion" jdbcType="VARCHAR" property="auditSuggestion"/>
        <result column="expire" jdbcType="BOOLEAN" property="expire"/>
        <result column="used_times" jdbcType="INTEGER" property="usedTimes"/>
        <result column="apply_at" jdbcType="TIMESTAMP" property="applyAt"/>
        <result column="audit_at" jdbcType="TIMESTAMP" property="auditAt"/>
        <result column="state" jdbcType="TINYINT" property="state"/>
        <result column="sign" jdbcType="VARCHAR" property="sign"/>
        <result column="publish_at" jdbcType="TIMESTAMP" property="publishAt"/>
        <result column="update_at" jdbcType="TIMESTAMP" property="updateAt"/>
        <result column="nonce" jdbcType="BIGINT" property="nonce"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        meta_data_auth_id, `user`, data_id, data_status, user_type, identity_id, meta_data_id,
        usage_type, start_at, end_at, times, audit_option, audit_suggestion, expire, used_times,
        apply_at, audit_at, `state`, sign, publish_at, update_at, nonce
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from meta_data_auth
        where meta_data_auth_id = #{metaDataAuthId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from meta_data_auth
        where meta_data_auth_id = #{metaDataAuthId,jdbcType=VARCHAR}
    </delete>

    <insert id="insertSelective" parameterType="com.platon.metis.storage.dao.entity.MetaDataAuth">
        <!--@mbg.generated-->
        insert into meta_data_auth
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="metaDataAuthId != null">
                meta_data_auth_id,
            </if>
            <if test="user != null">
                `user`,
            </if>
            <if test="dataId != null">
                data_id,
            </if>
            <if test="dataStatus != null">
                data_status,
            </if>
            <if test="userType != null">
                user_type,
            </if>
            <if test="identityId != null">
                identity_id,
            </if>
            <if test="metaDataId != null">
                meta_data_id,
            </if>
            <if test="usageType != null">
                usage_type,
            </if>
            <if test="startAt != null">
                start_at,
            </if>
            <if test="endAt != null">
                end_at,
            </if>
            <if test="times != null">
                times,
            </if>
            <if test="auditOption != null">
                audit_option,
            </if>
            <if test="auditSuggestion != null">
                audit_suggestion,
            </if>
            <if test="expire != null">
                expire,
            </if>
            <if test="usedTimes != null">
                used_times,
            </if>
            <if test="applyAt != null">
                apply_at,
            </if>
            <if test="auditAt != null">
                audit_at,
            </if>
            <if test="state != null">
                `state`,
            </if>
            <if test="sign != null">
                sign,
            </if>
            <if test="publishAt != null">
                publish_at,
            </if>
            <if test="updateAt != null">
                update_at,
            </if>
            <if test="nonce != null">
                nonce,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="metaDataAuthId != null">
                #{metaDataAuthId,jdbcType=VARCHAR},
            </if>
            <if test="user != null">
                #{user,jdbcType=VARCHAR},
            </if>
            <if test="dataId != null">
                #{dataId,jdbcType=VARCHAR},
            </if>
            <if test="dataStatus != null">
                #{dataStatus,jdbcType=TINYINT},
            </if>
            <if test="userType != null">
                #{userType,jdbcType=TINYINT},
            </if>
            <if test="identityId != null">
                #{identityId,jdbcType=VARCHAR},
            </if>
            <if test="metaDataId != null">
                #{metaDataId,jdbcType=VARCHAR},
            </if>
            <if test="usageType != null">
                #{usageType,jdbcType=TINYINT},
            </if>
            <if test="startAt != null">
                #{startAt,jdbcType=TIMESTAMP},
            </if>
            <if test="endAt != null">
                #{endAt,jdbcType=TIMESTAMP},
            </if>
            <if test="times != null">
                #{times,jdbcType=INTEGER},
            </if>
            <if test="auditOption != null">
                #{auditOption,jdbcType=TINYINT},
            </if>
            <if test="auditSuggestion != null">
                #{auditSuggestion,jdbcType=VARCHAR},
            </if>
            <if test="expire != null">
                #{expire,jdbcType=BOOLEAN},
            </if>
            <if test="usedTimes != null">
                #{usedTimes,jdbcType=INTEGER},
            </if>
            <if test="applyAt != null">
                #{applyAt,jdbcType=TIMESTAMP},
            </if>
            <if test="auditAt != null">
                #{auditAt,jdbcType=TIMESTAMP},
            </if>
            <if test="state != null">
                #{state,jdbcType=TINYINT},
            </if>
            <if test="sign != null">
                #{sign,jdbcType=VARCHAR},
            </if>
            <if test="publishAt != null">
                #{publishAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updateAt != null">
                #{updateAt,jdbcType=TIMESTAMP},
            </if>
            <if test="nonce != null">
                #{nonce,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.platon.metis.storage.dao.entity.MetaDataAuth">
        <!--@mbg.generated-->
        update meta_data_auth
        <set>
            <if test="user != null">
                `user` = #{user,jdbcType=VARCHAR},
            </if>
            <if test="dataId != null">
                data_id = #{dataId,jdbcType=VARCHAR},
            </if>
            <if test="dataStatus != null">
                data_status = #{dataStatus,jdbcType=TINYINT},
            </if>
            <if test="userType != null">
                user_type = #{userType,jdbcType=TINYINT},
            </if>
            <if test="identityId != null">
                identity_id = #{identityId,jdbcType=VARCHAR},
            </if>
            <if test="metaDataId != null">
                meta_data_id = #{metaDataId,jdbcType=VARCHAR},
            </if>
            <if test="usageType != null">
                usage_type = #{usageType,jdbcType=TINYINT},
            </if>
            <if test="startAt != null">
                start_at = #{startAt,jdbcType=TIMESTAMP},
            </if>
            <if test="endAt != null">
                end_at = #{endAt,jdbcType=TIMESTAMP},
            </if>
            <if test="times != null">
                times = #{times,jdbcType=INTEGER},
            </if>
            <if test="auditOption != null">
                audit_option = #{auditOption,jdbcType=TINYINT},
            </if>
            <if test="auditSuggestion != null">
                audit_suggestion = #{auditSuggestion,jdbcType=VARCHAR},
            </if>
            <if test="expire != null">
                expire = #{expire,jdbcType=BOOLEAN},
            </if>
            <if test="usedTimes != null">
                used_times = #{usedTimes,jdbcType=INTEGER},
            </if>
            <if test="applyAt != null">
                apply_at = #{applyAt,jdbcType=TIMESTAMP},
            </if>
            <if test="auditAt != null">
                audit_at = #{auditAt,jdbcType=TIMESTAMP},
            </if>
            <if test="state != null">
                `state` = #{state,jdbcType=TINYINT},
            </if>
            <if test="sign != null">
                sign = #{sign,jdbcType=VARCHAR},
            </if>
            <if test="publishAt != null">
                publish_at = #{publishAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updateAt != null">
                update_at = #{updateAt,jdbcType=TIMESTAMP},
            </if>
            <if test="nonce != null">
                nonce = #{nonce,jdbcType=BIGINT},
            </if>
        </set>
        where meta_data_auth_id = #{metaDataAuthId,jdbcType=VARCHAR}
    </update>

    <select id="syncMetaDataAuth" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from meta_data_auth
        <where>
            <if test="identityId != null and identityId != ''">
                AND identity_id = #{identityId,jdbcType=VARCHAR}
            </if>
            <if test="lastUpdateAt != null">
                AND update_at <![CDATA[ > ]]> #{lastUpdateAt,jdbcType=TIMESTAMP}
            </if>
        </where>
        order by update_at, meta_data_auth_id
        limit 0, #{limit,jdbcType=BIGINT}
    </select>
</mapper>