<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.datum.storage.dao.TaskDataPolicyOptionsPartMapper">
    <resultMap id="BaseResultMap" type="com.platon.datum.storage.dao.entity.TaskDataPolicyOptionsPart">
        <!--@mbg.generated-->
        <!--@Table task_data_policy_options_part-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="task_id" jdbcType="VARCHAR" property="taskId"/>
        <result column="data_policy_options_part" jdbcType="LONGVARCHAR" property="dataPolicyOptionsPart"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, task_id, data_policy_options_part
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from task_data_policy_options_part
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete
        from task_data_policy_options_part
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id"
            parameterType="com.platon.datum.storage.dao.entity.TaskDataPolicyOptionsPart" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into task_data_policy_options_part (task_id, data_policy_options_part)
        values (#{taskId,jdbcType=VARCHAR}, #{dataPolicyOptionsPart,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.platon.datum.storage.dao.entity.TaskDataPolicyOptionsPart" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into task_data_policy_options_part
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskId != null">
                task_id,
            </if>
            <if test="dataPolicyOptionsPart != null">
                data_policy_options_part,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="taskId != null">
                #{taskId,jdbcType=VARCHAR},
            </if>
            <if test="dataPolicyOptionsPart != null">
                #{dataPolicyOptionsPart,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.platon.datum.storage.dao.entity.TaskDataPolicyOptionsPart">
        <!--@mbg.generated-->
        update task_data_policy_options_part
        <set>
            <if test="taskId != null">
                task_id = #{taskId,jdbcType=VARCHAR},
            </if>
            <if test="dataPolicyOptionsPart != null">
                data_policy_options_part = #{dataPolicyOptionsPart,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.platon.datum.storage.dao.entity.TaskDataPolicyOptionsPart">
        <!--@mbg.generated-->
        update task_data_policy_options_part
        set task_id                  = #{taskId,jdbcType=VARCHAR},
            data_policy_options_part = #{dataPolicyOptionsPart,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectByTaskId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from task_data_policy_options_part
        where task_id = #{taskId}
        order by id
    </select>
</mapper>