<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.metis.storage.dao.TaskReceiverPolicyOptionsPartMapper">
    <resultMap id="BaseResultMap" type="com.platon.metis.storage.dao.entity.TaskReceiverPolicyOptionsPart">
        <!--@mbg.generated-->
        <!--@Table task_receiver_policy_options_part-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="task_id" jdbcType="VARCHAR" property="taskId"/>
        <result column="receiver_policy_options_part" jdbcType="LONGVARCHAR" property="receiverPolicyOptionsPart"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, task_id, receiver_policy_options_part
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from task_receiver_policy_options_part
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete
        from task_receiver_policy_options_part
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.platon.metis.storage.dao.entity.TaskReceiverPolicyOptionsPart">
        <!--@mbg.generated-->
        insert into task_receiver_policy_options_part (id, task_id, receiver_policy_options_part)
        values (#{id,jdbcType=INTEGER}, #{taskId,jdbcType=VARCHAR}, #{receiverPolicyOptionsPart,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.platon.metis.storage.dao.entity.TaskReceiverPolicyOptionsPart">
        <!--@mbg.generated-->
        insert into task_receiver_policy_options_part
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="taskId != null">
                task_id,
            </if>
            <if test="receiverPolicyOptionsPart != null">
                receiver_policy_options_part,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="taskId != null">
                #{taskId,jdbcType=VARCHAR},
            </if>
            <if test="receiverPolicyOptionsPart != null">
                #{receiverPolicyOptionsPart,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.platon.metis.storage.dao.entity.TaskReceiverPolicyOptionsPart">
        <!--@mbg.generated-->
        update task_receiver_policy_options_part
        <set>
            <if test="taskId != null">
                task_id = #{taskId,jdbcType=VARCHAR},
            </if>
            <if test="receiverPolicyOptionsPart != null">
                receiver_policy_options_part = #{receiverPolicyOptionsPart,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.platon.metis.storage.dao.entity.TaskReceiverPolicyOptionsPart">
        <!--@mbg.generated-->
        update task_receiver_policy_options_part
        set task_id                      = #{taskId,jdbcType=VARCHAR},
            receiver_policy_options_part = #{receiverPolicyOptionsPart,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectByTaskId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from task_receiver_policy_options_part
        where task_id = #{taskId}
        order by id
    </select>
</mapper>